%navrow
 %navcontainer
  %ul
   %li
    %a{ :href => '/home', :target => '_blank', :class => 'button success'} Home
   %li
    %a{ :href => '/analemma', :target => '_blank', :class => 'button success' } 2015 data
   %li
    %a{ :href => '/tut', :target => '_blank', :class => 'button success'  } Tutorial
   %li
    %a{ :href => 'https://rubygems.org/gems/equationoftime/', :target => '_blank', :class => 'button success'  } eot gem
   %li
    %a{ :href => '/links', :target => '_blank', :class => 'button success'  } Links
   %li
    %a{ :href => '/eot', :target => '_blank', :class => 'button success'  } eot today
   %li
    %a{ :href => 'http://douglasallen.github.io/gh-pages/aboutme2/', :target => '_blank', :class => 'button success'  } About me
   