<!DOCTYPE html>
<html> 
<head> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  function updateTime() {
    var currtime = new Date();
    var currtime1 = new Date(currtime.getTime());
    var currtime2 = new Date(currtime.toGMTString());
    var currtime3 = (currtime.getHours() + ":"+ currtime.getMinutes() + ":" + currtime.getSeconds());
    $('#1').html(currtime1);
    $('#2').html(currtime2);
    $('#3').html(currtime3);
    //location.reload();       
  }
  setInterval(updateTime, 1000); // 1000 miliseconds 
  }); 

  $.ajaxSetup ({  
     cache: false  
  });

  $(document).ready(function() { update_time(); });

  // fetch text from the server, wait 5 secs and repeat
  function update_time() {
    $.get("/jquerytime", 
          function(data) {
            $("#update-div").html(data);
            window.setTimeout(update_time, 5000);
          },
          'text');
  }
  // <%= @html %>
</script> 
</head> 
<body>
  <div id='1'></div>
  <div id='2'></div>
  <div id='3'></div>
  <div id='update-div'>
      
  </div>
</body> 
</html>