<!DOCTYPE html>
<html> 
  <head>
    <script>
      $.ajaxSetup ({  
        cache: false  
      });

      $(document).ready(function() { update_time(); });

      // fetch text from the server, wait 5 secs and repeat
      function update_time() {
        $.get("/lst", function(data) {
          $("#update-div").html(data);
          window.setTimeout(update_time, 7000);
        }, 'text');
      }
    </script>
  </head> 
  <body>
    <div id='1'></div>
    <div id='2'></div>
    <div id='3'></div>
    <div id='update-div'>
      <%= @html %>  
    </div>  
  </body> 
</html>