.gem
.rbc
.rspec
.bundle
.config
.settings
.yardoc
Gemfile.lock

InstalledFiles
_yardoc
coverage
doc
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
ext/ceot/*.o
ext/ceot/*.so
ext/ceot/Makefile
lib/*.so