<!--?xml version="1.0" encoding="iso-8859-1"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<title>Calcium - Default name - rename it if you like</title>
<meta name="keywords" content="web calendar, calendar, calendar server, Brown Bear Software">
<meta name="description" content="Calcium Web Calendar - Brown Bear Software http://www.brownbearsw.com">
<meta name="generator" content="Calcium Web Calendar - Brown Bear Software http://www.brownbearsw.com">
<link rel="alternate" type="application/atom+xml" title="Default name - rename it if you like(atom)" href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=RSS&amp;Format=atom">
<link rel="alternate" type="application/rss+xml" title="Default name - rename it if you like(rss)" href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=RSS&amp;Format=rss">
<link rel="alternate" type="application/rdf+xml" title="Default name - rename it if you like(rdf)" href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=RSS&amp;Format=rdf">
<link rel="alternate" type="application/rss+xml" title="Default name - rename it if you like(2.0)" href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=RSS&amp;Format=2.0">
<style type="text/css">
<!--/* <![CDATA[ */
body { font-size: 1em; background-color: white}
.PageHeader { text-align: center; font-weight: bold; font-size: xx-large; background-color: #cccccc}
.SectionHeader { text-align: center; padding: 2px; font-weight: bold; font-size: medium; background-color: thistle}
.ErrorHighlight { color: red}
.WarningHighlight { color: darkred; font-weight: bold}
.EventTag { font-size: smaller}
.EntryWidgets { background-color: #cccccc}
.InlineHelp { margin-left: 10px; font-size: smaller}
BODY { color: black; background-color: #BCBCBC}
.Footer { text-align: Center; color: black; background-color: #D4D4D4}
.SubFooter { text-align: Left}
.Header { text-align: Center; color: black; background-color: #D4D4D4}
.WeekHeader, .Year .MonthHeader { background-color: #004584}
.WeekHeader span, .Year .MonthHeader span { color: white; font-size: 1em; background-color: #004584}
.DayHeader { background-color: #5F829E}
.DayHeader span, .DayHeader span A, .DayHeader span A:visited, .DayHeader A:visited { color: black}
.DayHeader span { font-size: 1em}
.TodayHeader { background-color: #FC5555}
.TodayHeader span, .TodayHeader span A, .TodayHeader span A:visited, .TodayHeader A:visited { color: black}
.TodayHeader span { font-size: 1em}
.MonthAbbrev { background-color: #004584}
.BlockView .IncludeTag { font-size: .75em}
.BlockView .EventTag.Category { font-size: .75em}
.BlockView .TimeLabel { font-size: 1em}
.MonthAbbrev span { color: white; font-size: 1em}
A:visited {color: black}
A:link    {color: black}
.BlockView .CalEvent { font-size: 1em}
.ListView .CalEvent { font-size: 1em}
.EventTag { font-size: smaller}
.EventTag.Tentative { color: darkred; font-style: italic}
.CalEvent { cursor: crosshair}
.DayHeader, .TodayHeader { cursor: crosshair}
.Title { text-align: Center; color: black; font-weight: bold; font-size: 2em; background-color: #C8D7E5}
.NavigationBar { color: black; background-color: #999999}
.NavigationBarInside { color: black}
.NavigationBarInside table { background-color: #999999}
.NavigationBarInside td { background-color: #999999}
.NavigationBarInside A { color: black}
.NavigationBar .Relative { font-size: 1em}
.NavigationBar .Absolute { font-size: 1em}
.NavigationBar .Weekend { color: red}
.NavigationBar .Today { color: #ffffff; background-color: blue}
.DateHeader { text-align: center; color: black; font-weight: bold; font-size: 1.5em}
.BottomBars { color: black; font-size: .75em}
.BottomItem { color: black; background-color: gray}
.BottomItemSelected { color: black; background-color: #C8D7E5}
.BottomBars select { background-color: gray}
.BottomItem A:link { color: black}
.BottomItem A:visited { color: black}
.BottomBarLabel { color: black; font-weight: bold}


/* ]]> */-->
</style>
</head>
<body class="ShowIt">
 
 
<table border="0" cellspacing="0" width="100%"><tbody><tr><td class="Title"><link href="styles_meetings2.css" rel="stylesheet" type="text/css">
<div id="bg_top">
<div id="logo">
            <table border="1" width="950">
  <tbody><tr>
    <td width="644"><p><a href="#"><span class="logo_span antiqua">Alcoholics Anonymous  District 71</span><span class="logo_span antiqua"> Area 20</span><br>
            <span class="logo_space antiqua">Serving Cortland, Dekalb, Genoa, Hinkley, Kingston,                </span></a></p>
          <p><a href="#"><span class="logo_space antiqua">Kirkland, Maple Park, Sandwich, Sycamore, Somonauk, </span></a></p>
            <p><a href="#"><span class="logo_space antiqua">Waterman and Everyone in Between.</span></a></p>&nbsp;</td>
    <td width="313"><div align="right"><img src="images/AALOGOHOTLINE.png" alt="" height="103" width="314"></div></td>
  </tr>
</tbody></table>

        </div></div></td></tr><tr><td class="Header"><link href="styles_meetings2.css" rel="stylesheet" type="text/css">
<div id="buttons" align="center">
          <div class="but1 but_size"><a href="index.html" class="my_but1" title="">Home</a></div>
		  <div class="but_razd"></div>
          <div class="but1 but_size"><a href="meetings.html" class="my_but2" title="">Meetings</a></div>
          <div class="but_razd"></div>
          <div class="but1 but_size"><a href="#" class="my_but3" title="">Events</a></div>
          <div class="but_razd"></div>
          <div class="but1 but_size"><a href="contact.html" class="my_but5" title="">Contact&nbsp;Us</a></div>
          <div class="but_razd"></div>
          <div class="but1 but_size"><a href="Al-Anon.html" class="my_but4" title="">Al-Anon</a></div> 
        </div>
EVENTS CALENDAR
</td>
</tr>
</tbody>
</table>
 
<table class="NavigationBar" border="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr class="NavigationBarInside">
<td>
<table class="Absolute" border="0" width="100%">
<tbody>
<tr>
<td align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2014%2F1%2F1">2015</a>
</td>
<td align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F1%2F1">Jan</a>
</td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F2%2F1">Feb</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F3%2F1">Mar</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F4%2F1">Apr</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F5%2F1">May</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F6%2F1">Jun</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F7%2F1">Jul</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F8%2F1">Aug</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F9%2F1">Sep</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F10%2F1">Oct</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F11%2F1">Nov</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2015%2F12%2F1">Dec</a></td> <td align="center"><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block&amp;Date=2016%2F1%2F1">2016</a></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table> 
<div class="DateHeader">    <table align="center" width="100%"><tbody><tr align="center">
    <td class="DateHeader" align="left"><small><small>
       <a href="http://www.brownbearsw.com/"><nobr>Brown Bear Software
       </nobr></a></small></small></td>
    <td class="DateHeader">January 2015</td>
    <td class="DateHeader" align="right"><small><small>
       <a href="http://www.brownbearsw.com/"><nobr>Brown Bear Software</nobr></a>
       </small></small></td>
    </tr></tbody></table>
</div> 
<div class="BlockView">        
<script type="text/javascript"><!-- 

        function PopupWindow (calName, date, id, source, width, height) {
            if (width < 100) {
               width = Math.round (screen.width * width / 100);
            }
            if (height < 100) {
               height = Math.round (screen.height * height / 100);
            }
            win = window.open ("Calcium40.pl?Op=PopupWindow&Amount=Month&NavType=Absolute&Type=Block" +
                               "&CalendarName=" + calName +
                               "&Date=" + escape (date) +
                               "&ID=" + id +
                               "&Source=" + source,
                               "PopupWindow" + calName + id,
                               "scrollbars,resizable," +
                               "width=" + width + "," +
                               "height=" + height)
            win.focus()
       }
        
// --></script>

        
<script type="text/javascript"><!-- 

        editWidth = 50;
        editHeight = 50;
        if (editWidth < 100) {
           editWidth = Math.round (screen.width * editWidth / 100);
        }
        if (editHeight < 100) {
           editHeight = Math.round (screen.height * editHeight / 100);
        }
        function editEvent (id, calName, theDate) {
            if (id < 0) {
                alert ('This is an event from the ' + calName + ' Add-In.' +
                       '\nYou cannot edit it.');
            } else {
                win = window.open ("?Op=EditEvent&PopupWin=1&CalendarName=" + calName + "&EventID=" + id +
                                   "&Date=" + theDate,
                                   "EditWindow" + calName + id,
                                   "scrollbars,resizable," +
                                     "width="  + editWidth + "," +
                                     "height=" + editHeight);
                win.focus();
            }
        }
        
// --></script>

        
<script type="text/javascript"><!-- 

        function addEvent (calName, date, start, end) {
            if (isNaN(start)) {
                start = -1;
            }
            win = window.open ("?Op=AddEvent&PopupWin=1&CalendarName=" + calName
                                + "&Date=" + date
                                + "&StartTime=" + start
                                + "&EndTime=" + end,
                               "AddWindow" + calName,
                               "scrollbars,resizable,"
                                + "width="  + editWidth + ","
                                + "height=" + editHeight);
            win.focus();
        }
        
// --></script>


<table cols="14" class="CalBlock" border="1" cellspacing="0" width="100%">
<tbody>
<tr class="WeekHeader">
<th colspan="2" width="14%">
<span>Sunday</span>
</th>
<th colspan="2" width="14%">
<span>Monday</span>
</th>
<th colspan="2" width="14%">
<span>Tuesday</span>
</th>
<th colspan="2" width="14%">
<span>Wednesday</span>
</th>
<th colspan="2" width="14%">
<span>Thursday</span>
</th>
<th colspan="2" width="14%">
<span>Friday</span>
</th>
<th colspan="2" width="14%">
<span>Saturday</span>
</th>
</tr>
<tr>
<td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2014/12/28')" colspan="1">
<span>
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2014%2F12%2F28&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">28</a>
</span>
</td>
<td class="MonthAbbrev" align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt&amp;Date=2014%2F12%2F1&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">
<span>
<b>Dec</b>
</span>
</a>
</td>
<td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2014/12/29')" colspan="2">
<span>
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2014%2F12%2F29&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">29</a>
</span>
</td>
<td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2014/12/30')" colspan="2">
<span>
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2014%2F12%2F30&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">30</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2014/12/31')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2014%2F12%2F31&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">31</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/1')" colspan="1"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F1&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">1</a></span></td><td class="MonthAbbrev" align="center"><span><b>Jan</b></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/2')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F2&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">2</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/3')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F3&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">3</a></span></td></tr><tr style="height: 16px;"><td class="Sunday" rowspan="1" colspan="2" bgcolor="#999999" height="80" valign="top"> <div class="DayWithEvents"><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (1, 'AADistrict71', '2014/12/28')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">9:30am</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2014/12/28\', \'1\', \'\', \'450\', \'350\')\" style=\"color: white\">24 Hours A Day Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2014/12/28',%20'1',%20'',%20'450',%20'350')" style="color: white">24 Hours A Day Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=1&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2014%2F12%2F28&Amount=Month&NavType=Absolute&Type=Block">24 Hours A Day Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (2, 'AADistrict71', '2014/12/28')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">6:00pm - 7:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2014/12/28\', \'2\', \'\', \'450\', \'350\')\" style=\"color: white\">Steps and Traditions Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2014/12/28',%20'2',%20'',%20'450',%20'350')" style="color: white">Steps and Traditions Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=2&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2014%2F12%2F28&Amount=Month&NavType=Absolute&Type=Block">Steps and Traditions Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (3, 'AADistrict71', '2014/12/28')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">7:30pm - 8:30pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2014/12/28\', \'3\', \'\', \'450\', \'350\')\" style=\"color: white\">No Longer Hopeless</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2014/12/28',%20'3',%20'',%20'450',%20'350')" style="color: white">No Longer Hopeless</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=3&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2014%2F12%2F28&Amount=Month&NavType=Absolute&Type=Block">No Longer Hopeless</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (4, 'AADistrict71', '2014/12/28')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">8:00pm - 9:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2014/12/28\', \'4\', \'\', \'450\', \'350\')\" style=\"color: white\">Any Lengths</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2014/12/28',%20'4',%20'',%20'450',%20'350')" style="color: white">Any Lengths</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=4&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2014%2F12%2F28&Amount=Month&NavType=Absolute&Type=Block">Any Lengths</a></noscript></div></div></div></td></tr></tbody></table></div></td><td class="Monday" rowspan="1" colspan="2" bgcolor="#999999" height="80" valign="top"> <div>&nbsp;</div></td><td class="Tuesday" rowspan="1" colspan="2" bgcolor="#999999" height="80" valign="top"> <div>&nbsp;</div></td><td class="Wednesday" rowspan="1" colspan="2" bgcolor="#999999" height="80" valign="top"> <div>&nbsp;</div></td><td class="Thursday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Friday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Saturday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td></tr><tr><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/4')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F4&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">4</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/5')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F5&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">5</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/6')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F6&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">6</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/7')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F7&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">7</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/8')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F8&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">8</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/9')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F9&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">9</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/10')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F10&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">10</a></span></td></tr><tr style="height: 16px;"><td class="Sunday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div class="DayWithEvents"><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (1, 'AADistrict71', '2015/1/4')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">9:30am</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/4\', \'1\', \'\', \'450\', \'350\')\" style=\"color: white\">24 Hours A Day Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/4',%20'1',%20'',%20'450',%20'350')" style="color: white">24 Hours A Day Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=1&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F4&Amount=Month&NavType=Absolute&Type=Block">24 Hours A Day Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (2, 'AADistrict71', '2015/1/4')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">6:00pm - 7:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/4\', \'2\', \'\', \'450\', \'350\')\" style=\"color: white\">Steps and Traditions Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/4',%20'2',%20'',%20'450',%20'350')" style="color: white">Steps and Traditions Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=2&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F4&Amount=Month&NavType=Absolute&Type=Block">Steps and Traditions Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (3, 'AADistrict71', '2015/1/4')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">7:30pm - 8:30pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/4\', \'3\', \'\', \'450\', \'350\')\" style=\"color: white\">No Longer Hopeless</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/4',%20'3',%20'',%20'450',%20'350')" style="color: white">No Longer Hopeless</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=3&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F4&Amount=Month&NavType=Absolute&Type=Block">No Longer Hopeless</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (4, 'AADistrict71', '2015/1/4')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">8:00pm - 9:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/4\', \'4\', \'\', \'450\', \'350\')\" style=\"color: white\">Any Lengths</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/4',%20'4',%20'',%20'450',%20'350')" style="color: white">Any Lengths</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=4&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F4&Amount=Month&NavType=Absolute&Type=Block">Any Lengths</a></noscript></div></div></div></td></tr></tbody></table></div></td><td class="Monday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Tuesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Wednesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Thursday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Friday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Saturday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td></tr><tr><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/11')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F11&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">11</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/12')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F12&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">12</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/13')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F13&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">13</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/14')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F14&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">14</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/15')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F15&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">15</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/16')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F16&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">16</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/17')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F17&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">17</a></span></td></tr><tr style="height: 16px;"><td class="Sunday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div class="DayWithEvents"><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (1, 'AADistrict71', '2015/1/11')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">9:30am</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/11\', \'1\', \'\', \'450\', \'350\')\" style=\"color: white\">24 Hours A Day Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/11',%20'1',%20'',%20'450',%20'350')" style="color: white">24 Hours A Day Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=1&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F11&Amount=Month&NavType=Absolute&Type=Block">24 Hours A Day Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (2, 'AADistrict71', '2015/1/11')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">6:00pm - 7:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/11\', \'2\', \'\', \'450\', \'350\')\" style=\"color: white\">Steps and Traditions Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/11',%20'2',%20'',%20'450',%20'350')" style="color: white">Steps and Traditions Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=2&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F11&Amount=Month&NavType=Absolute&Type=Block">Steps and Traditions Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (3, 'AADistrict71', '2015/1/11')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">7:30pm - 8:30pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/11\', \'3\', \'\', \'450\', \'350\')\" style=\"color: white\">No Longer Hopeless</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/11',%20'3',%20'',%20'450',%20'350')" style="color: white">No Longer Hopeless</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=3&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F11&Amount=Month&NavType=Absolute&Type=Block">No Longer Hopeless</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (4, 'AADistrict71', '2015/1/11')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">8:00pm - 9:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/11\', \'4\', \'\', \'450\', \'350\')\" style=\"color: white\">Any Lengths</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/11',%20'4',%20'',%20'450',%20'350')" style="color: white">Any Lengths</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=4&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F11&Amount=Month&NavType=Absolute&Type=Block">Any Lengths</a></noscript></div></div></div></td></tr></tbody></table></div></td><td class="Monday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Tuesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Wednesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Thursday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Friday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Saturday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td></tr><tr><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/18')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F18&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">18</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/19')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F19&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">19</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/20')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F20&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">20</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/21')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F21&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">21</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/22')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F22&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">22</a></span></td><td class="TodayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/23')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F23&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">23</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/24')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F24&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">24</a></span></td></tr><tr style="height: 16px;"><td class="Sunday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div class="DayWithEvents"><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (1, 'AADistrict71', '2015/1/18')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">9:30am</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/18\', \'1\', \'\', \'450\', \'350\')\" style=\"color: white\">24 Hours A Day Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/18',%20'1',%20'',%20'450',%20'350')" style="color: white">24 Hours A Day Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=1&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F18&Amount=Month&NavType=Absolute&Type=Block">24 Hours A Day Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (2, 'AADistrict71', '2015/1/18')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">6:00pm - 7:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/18\', \'2\', \'\', \'450\', \'350\')\" style=\"color: white\">Steps and Traditions Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/18',%20'2',%20'',%20'450',%20'350')" style="color: white">Steps and Traditions Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=2&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F18&Amount=Month&NavType=Absolute&Type=Block">Steps and Traditions Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (3, 'AADistrict71', '2015/1/18')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">7:30pm - 8:30pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/18\', \'3\', \'\', \'450\', \'350\')\" style=\"color: white\">No Longer Hopeless</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/18',%20'3',%20'',%20'450',%20'350')" style="color: white">No Longer Hopeless</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=3&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F18&Amount=Month&NavType=Absolute&Type=Block">No Longer Hopeless</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (4, 'AADistrict71', '2015/1/18')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">8:00pm - 9:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/18\', \'4\', \'\', \'450\', \'350\')\" style=\"color: white\">Any Lengths</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/18',%20'4',%20'',%20'450',%20'350')" style="color: white">Any Lengths</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=4&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F18&Amount=Month&NavType=Absolute&Type=Block">Any Lengths</a></noscript></div></div></div></td></tr></tbody></table></div></td><td class="Monday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Tuesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Wednesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Thursday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Friday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Saturday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td></tr><tr><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/25')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F25&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">25</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/26')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F26&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">26</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/27')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F27&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">27</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/28')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F28&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">28</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/29')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F29&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">29</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/30')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F30&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">30</a></span></td><td class="DayHeader" ondblclick="addEvent ('AADistrict71', '2015/1/31')" colspan="2"><span><a href="http://aadistrict71.org/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F31&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">31</a></span></td></tr><tr style="height: 16px;"><td class="Sunday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div class="DayWithEvents"><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (1, 'AADistrict71', '2015/1/25')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">9:30am</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/25\', \'1\', \'\', \'450\', \'350\')\" style=\"color: white\">24 Hours A Day Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/25',%20'1',%20'',%20'450',%20'350')" style="color: white">24 Hours A Day Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=1&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F25&Amount=Month&NavType=Absolute&Type=Block">24 Hours A Day Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (2, 'AADistrict71', '2015/1/25')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">6:00pm - 7:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/25\', \'2\', \'\', \'450\', \'350\')\" style=\"color: white\">Steps and Traditions Group</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/25',%20'2',%20'',%20'450',%20'350')" style="color: white">Steps and Traditions Group</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=2&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F25&Amount=Month&NavType=Absolute&Type=Block">Steps and Traditions Group</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (3, 'AADistrict71', '2015/1/25')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">7:30pm - 8:30pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/25\', \'3\', \'\', \'450\', \'350\')\" style=\"color: white\">No Longer Hopeless</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/25',%20'3',%20'',%20'450',%20'350')" style="color: white">No Longer Hopeless</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=3&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F25&Amount=Month&NavType=Absolute&Type=Block">No Longer Hopeless</a></noscript></div></div></div></td></tr></tbody></table><table class="c_GroupMeeting" align="center" bgcolor="blue" border="1" cellpadding="0" cellspacing="0" width="98%"><tbody><tr><td><div class="CalEvent" ondblclick="editEvent (4, 'AADistrict71', '2015/1/25')" style="color: white"><div class="GroupMeeting"><span class="EventTag Category">Group Meeting</span><br><span class="TimeLabel">8:00pm - 9:00pm</span><br><div class="EventLink"><script>document.write ("<a href=\"JavaScript:PopupWindow (\'AADistrict71\', \'2015/1/25\', \'4\', \'\', \'450\', \'350\')\" style=\"color: white\">Any Lengths</a>");</script><a href="javascript:PopupWindow%20('AADistrict71',%20'2015/1/25',%20'4',%20'',%20'450',%20'350')" style="color: white">Any Lengths</a><noscript><a href="Calcium40.pl?CalendarName=AADistrict71&ID=4&Op=PopupWindow&DoneURL=Calcium40.pl%3FCalendarName%3DAADistrict71%26Op%3DShowIt%26Amount%3DMonth%26NavType%3DAbsolute%26Type%3DBlock&Source=&Date=2015%2F1%2F25&Amount=Month&NavType=Absolute&Type=Block">Any Lengths</a></noscript></div></div></div></td></tr></tbody></table></div></td><td class="Monday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Tuesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Wednesday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Thursday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Friday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td><td class="Saturday" rowspan="1" colspan="2" bgcolor="#CCCCCC" height="80" valign="top"> <div>&nbsp;</div></td></tr></tbody></table></div> 
 
<div class="BottomBars"><div class="Bottom">
<script language="Javascript"><!--
function bottomSubmitBottom () {
    var amt = document.forms['BBDisplayBottom'].elements[0];
    var typ = document.forms['BBDisplayBottom'].elements[1];
    var xtra = '';
    xtra = xtra + '&' + amt.name + "=" + amt.options[amt.selectedIndex].value;
    xtra = xtra + '&' + typ.name + "=" + typ.options[typ.selectedIndex].value;
    window.location = 'Calcium40.pl?CalendarName=AADistrict71&Op=ShowIt&NavType=Absolute' + xtra;
}
//--></script>
        
<script type="text/javascript"><!-- 

        var UserOptionsPopupWindow;
        function UserOptionsPopup () {
           var width  = 500;
           var height = 450;
           if (width < 100) {
              width = Math.round (screen.width * width / 100);
           }
           if (height < 100) {
              height = Math.round (screen.height * height / 100);
           }
            UserOptionsPopupWindow = window.open ("Calcium40.pl?CalendarName=AADistrict71&Op=AdminPageUser&Amount=Month&NavType=Absolute&Type=Block&IsPopup=1", "UserOptions",
                           "scrollbars,resizable,width=" + width +
                           ",height=" + height);
            UserOptionsPopupWindow.focus();
        }
        
// --></script>

        
<script type="text/javascript"><!-- 

        var PrintPopupWindow;
        function PrintPopup () {
           var width  = 500;
           var height = 450;
           if (width < 100) {
              width = Math.round (screen.width * width / 100);
           }
           if (height < 100) {
              height = Math.round (screen.height * height / 100);
           }
            PrintPopupWindow = window.open ("Calcium40.pl?CalendarName=AADistrict71&Op=PrintView&Amount=Month&NavType=Absolute&Type=Block&IsPopup=1", "Print",
                           "scrollbars,resizable,width=" + width +
                           ",height=" + height);
            PrintPopupWindow.focus();
        }
        
// --></script>

        
<script type="text/javascript"><!-- 

        function SelectCalendar (width, height) {
            if (width < 100) {
               width = Math.round (screen.width * width / 100);
            }
            if (height < 100) {
               height = Math.round (screen.height * height / 100);
            }
            win = window.open ("Calcium40.pl?CalendarName=AADistrict71&Op=SelectCalendar&Language=English&IsPopup=1&Amount=Month&NavType=Absolute&Type=Block", "SelectWindow",
                               "scrollbars,resizable," +
                               "width=" + width + "," +
                               "height=" + height)
            win.focus()
        }
        
// --></script>

<table align="center">
<tbody>
<tr>
<td class="BottomBarLabel" align="right">Display:</td>
 <td align="left">
<form method="post" action="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowIt" enctype="application/x-www-form-urlencoded" name="BBDisplayBottom" style="margin-bottom: 0">
<table>
<tbody>
<tr>
<td>
<select name="Amount" onchange="bottomSubmitBottom ()">
<option value="Day">Day</option>
<option value="Week">Week</option>
<option selected="selected" value="Month">Month</option>
<option value="Quarter">Quarter</option>
<option value="Year">Year</option>
</select></td> <td><select name="Type" onchange="bottomSubmitBottom ()">
<option selected="selected" value="Block">Block</option>
<option value="List">List</option>
<option value="Condensed">Condensed</option>
<option value="TimePlan">Time Plan</option>
</select>
</td>
 <td>
<noscript>
<input type="submit" name="Go" value="Go" />
</noscript>
</td>
</tr>
</tbody>
</table>
<input name="CalendarName" value="AADistrict71" type="hidden">
<input name="Amount" value="Month" type="hidden">
<input name="NavType" value="Absolute" type="hidden">
<input name="Type" value="Block" type="hidden">
</form>
</td>
 <td class="BottomBarLabel" align="right">Navigation Bar:</td>
 <td align="left">
<table border="0" cellpadding="6" cellspacing="0" width="100%">
<tbody>
<tr>
<td class="BottomItemSelected" align="center">Absolute</td>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Amount=Month&amp;Type=Block&amp;Op=ShowIt&amp;Date=2015%2F1%2F23&amp;NavType=Relative">Relative</a>
</td>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Amount=Month&amp;Type=Block&amp;Op=ShowIt&amp;Date=2015%2F1%2F23&amp;NavType=Both">Both</a>
</td>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Amount=Month&amp;Type=Block&amp;Op=ShowIt&amp;Date=2015%2F1%2F23&amp;NavType=Neither">Neither</a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
 <tr>
<td class="BottomBarLabel" align="right">This Calendar:</td>
 <td align="left">
<table border="0" cellpadding="6" cellspacing="0" width="100%">
<tbody>
<tr>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=ShowDay&amp;Date=2015%2F1%2F23&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">Add/Edit</a>
</td>
<td class="BottomItem" align="center">
<script language="javascript">
  document.write (
                  '<a href="JavaScript:UserOptionsPopup()">Options</a>')
</script><a href="javascript:UserOptionsPopup()">Options</a>
<noscript>
   <a href="cgi-bin/Calcium40.pl?CalendarName=AADistrict71&Op=AdminPageUser&Amount=Month&NavType=Absolute&Type=Block">Options</a>
</noscript>
</td>
<td class="BottomItem" align="center">
<a href="cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;Op=AdminPage&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">Settings</a>
</td>
</tr>
</tbody>
</table>
</td> 
<td class="BottomBarLabel" align="right">System Options:</td> 
<td align="left">
<table border="0" cellpadding="6" cellspacing="0" width="100%">
<tbody>
<tr>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl">Home</a>
</td>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl?Op=SysAdminPage&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">Administer</a>
</td>
<td class="BottomItem" align="center">
<a href="/cgi-bin/Calcium40.pl?CalendarName=AADistrict71&amp;DesiredOp=ShowIt&amp;Op=UserLogin&amp;DesiredParams=CalendarName%1CAADistrict71&amp;Amount=Month&amp;NavType=Absolute&amp;Type=Block">Login</a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div></div>
</body>
</html>