%title = Alex K.
%body{style: "background: url(images/39160.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"}


