- @page = AnalemmaDataTable.new.page
%title equationoftime.herokuapp.com/analemma.haml
:markdown
  Please note that most charts for the Equation of time will have the opposite sign for the 
  final delta. This is analemma data not a chart of the time change. You may be tempted to add
  these to your clock time to get solar time. We are interested in finding the clock time so we 
  need to subtract EOT to compensate for elliptical orbit and axial tilt. 
  Think of it as the Sun being late or early depending on the sign. If the Sun is late then 
  time is later and if the Sun is early then time is ahead.
  If you get confused then try looking at the graph again. The graph
  is showing the difference between two different solar times. There isn't any clock time 
  involved yet. So you could add these values to your clock time but just remember to change 
  the sign.
  
  Search on line for images of analemma if this isn't enough information.

= @page  