%title equationoftime.herokuapp.com/gm.haml
%body{style: "background: url(images/IMG_20150104_142228.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"}
%hr
%br
%a{href: "/alex"} Be careful!