%title equationoftime.herokuapp.com/home.haml
:markdown

  ## Home page
  
  # Welcome
  
  &nbsp;&nbsp;&nbsp; This is the place if you were looking for more information about the 
  equationoftime Ruby gem. Have fun. Browse around by clicking on the menu just to get 
  familiar here before diving into the tutorial or example code. My name is Douglas.
  
  &nbsp;&nbsp;&nbsp; This site uses all kinds of gems but it's framework is Sinatra. 
  The source for this site may be found at 
  http://github.com/DouglasAllen/equationoftime.herokuapp.com
  
  &nbsp;&nbsp;&nbsp; If you just want to look at the source for the gem then that is at
  http://github.com/DouglasAllen/gem-equationoftime
  
  &nbsp;&nbsp;&nbsp; The gem will calculate sunrise and sunset times as well as transit
  time for your location if you know your geometric position here on Earth. In other words, 
  latitude and longitude are required as input if you hope to gain the most value out of
  this. You may use a page here to find it if you promise not to over do it. There is a
  maximum daily quota and you may spoil a chance for someone else to use it today.
  
  &nbsp;&nbsp;&nbsp; The tutorial may seem a little boring to you but has lots of fun 
  highlighted Ruby code for what's going on inside. If you know Ruby pretty well then
  you may just skip to the api docs linked at either rubygems.org or the github repo.
  Thanks for your interest in my Ruby gem.
  
  Best Regards
  
  Douglas