%title /julian

:markdown

  &nbsp;&nbsp;&nbsp;The Astronomical Julian Period Day Number is a half day before
  
      (ajd) = Julian Period Day Number(jd) - 0.5
  
  &nbsp;&nbsp;&nbsp;The time reference we need starts at midnight UTC a half day before noon.
  Normally we use just Julian Period Day Number (12:00)
  for calculations like Sunrise and Sunset.
  Astronomers use Julian Period Day Number (12:00) for logging of astronomical observations
  as this would be the start and end of a nightly session.
    
    
  These terms are calculated with the Universal Time Coordinate or GMT of the current time.
          
      #{DateTime.now.to_time.utc.to_datetime.jd.to_f} : Julian Day Number today at noon.
    
  class Date, method ajd()
  today = @solar.ajd(t = Time.now.utc)
        
      #{Date.today.ajd * 1.0} : Astronomical Julian Day Number is previous midnight.
     
  class Time, methods now() and utc
    
      #{DateTime.now.to_time.utc.to_datetime.day_fraction.to_f} : Day fraction of Julian Day Number is hours decimal / 24.0
    
  Combined
  today + now
    
  #{DateTime.now.to_time.utc.to_datetime.ajd.to_f} : Astronomical Julian Day Number + Julian Day fraction.
    
  This is the calculated value passed as a parameter to the julian\_century\_time calculation method.
    
  see: /jcft
