

<link rel='icon', type='image/icon', href='/images/favicon.ico'></link>

<link href="/stylesheets/normalize.css" media="all" 
      rel="stylesheet" type="text/css" >
      
<link rel="stylesheet" href="/stylesheets/foundation.css" 
      type="text/css" media="screen" charset="utf-8">

<link rel="stylesheet" href="/stylesheets/pygments.css" 
      type="text/css" media="screen" charset="utf-8">
      
<link href="/stylesheets/app.css" media="all" 
      rel="stylesheet" type="text/css" charset="utf-8">


</br>
<div id="bg"> 
<ul class="button-group round" >
  <li><a href="/", class="button success">Home</a></li>
</ul>
<ul class="button-group round" >
  <li><a href="/examples", target="_blank", class="button success">Examples</a></li>
  <li><a href="/graph", target="_blank", class="button success">Graph</a></li>
  <li><a href="/tutorial", target="_blank", class="button success">Tutorial</a></li>
</ul>
<ul class="button-group round" > 
  <li><a href="/md", target="_blank", class="button success">Markdown</a></li>
  <li><a href="/rdoc", target="_blank", class="button success">Rdoc</a></li>
  <li><a href="/gm", target="_blank", class="button success">Museum</a></li>
  <li><a href="/links", target="_blank", class="button success">Links</a></li>  
</ul>
<ul class="button-group round"> 
  <li><a href="/eot", target="_blank", class="button success">EOT Now</a></li>
  <li><a href="/analemma", target="_blank", class="button success">Data</a></li>
  <li><a href="http://douglasallen.github.io/gh-pages/aboutme2/", target="_blank", class="button success">About&nbsp;&nbsp;me</a></li>
  <li><a href="https://rubygems.org/gems/equationoftime/", target="_blank", class="button success">EOT gem</a></li>
</ul>
</div

</br>

<%= yield %>
