%title=@title
!!!
%html
  %head

    %link{ :rel  => 'icon', 
           :type => 'image/icon', 
           :href => '/images/sun.ico' }
 
    %link{ :rel  => 'stylesheet',
           :type => 'text/css', 
           :href => '/stylesheets/normalize.css' }
    
    %link{ :rel  => 'stylesheet',
           :type => 'text/css', 
           :href => '/stylesheets/foundation.css' }
           
    %link{ :rel  => 'stylesheet',
           :type => 'text/css', 
           :href => '/stylesheets/app.css' }

    %link{ :rel  => 'stylesheet',
           :type => 'text/css', 
           :href => '/stylesheets/pygments.css' }
  
  %div{:id => 'bg'}
    %ul{:class => 'button-group round'}
      %li
        %a{ :href => '/', :target => '_blank', :class => 'button success'} Home

  
    %ul{:class => 'button-group round'}
      %li
        %a{ :href => '/examples', :target => '_blank', :class => 'button success'  } Examples
      %li
        %a{ :href => '/graph', :target => '_blank', :class => 'button success' } Graph      
      %li
        %a{ :href => '/tutorial', :target => '_blank', :class => 'button success'  } Tutorial

 
    %ul{:class => 'button-group round'}
      %li        
        %a{ :href => '/eot', :target => '_blank', :class => 'button success'  } EOT Now    
      %li
        %a{ :href => '/gm', :target => '_blank', :class => 'button success' } Museum 
      %li
        %a{ :href => '/links', :target => '_blank', :class => 'button success'  } Links 
      %li
        %a{ :href => '/rdoc', :target => '_blank', :class => 'button success' } Rdoc

    %ul{:class => 'button-group round'}
      %li 
        %a{ :href => 'https://rubygems.org/gems/equationoftime/', :target => '_blank', :class => 'button success'  } EOT gem
      %li        
        %a{ :href => '/md', :target => '_blank', :class => 'button success' } Markdown
      %li      
        %a{ :href => 'http://douglasallen.github.io/gh-pages/aboutme2/', :target => '_blank', :class => 'button success'  } About me
      %li
        %a{ :href => '/analemma', :target => '_blank', :class => 'button success' } Data
   
  %body= yield
