%title equationoftime.herokuapp.com/links.haml
%body
  %h1 Some links to get more information from
  %p
    %h3
      %pre
        :preserve
          These helped me learn more about the Equation of Time.
    %table
      %tr
        %td
          %h3
            %pre
              :preserve
                Time calculator has Equation of Time.
        %td
          %h5
            %a{:href => "http://www.celnav.de/longterm.htm"} http://www.celnav.de/longterm.htm
      %tr
        %td
          %h3
            %pre
              :preserve
                BASIC language algorithms.
        %td
          %h5
            %a{:href => "http://www.stargazing.net/kepler/sun.html"} http://www.stargazing.net/kepler/sun.html
      %tr
        %td
          %h3
            %pre
              :preserve
                Analemma.com has free apps also.
        %td
          %h5
            %a{:href => "http://www.analemma.com/"} http://www.analemma.com/      
      %tr
        %td
          %h3
            %pre
              :preserve
                Stonehenge Decoded
                by Gerald S. Hawkins
        %td
          %h5
            %a{:href => "http://www.amazon.com/Stonehenge-Decoded-Gerald-S-Hawkins/dp/0880291478"} http://www.amazon.com/Stonehenge-Decoded-Gerald-S-Hawkins/dp/0880291478
      %tr
        %td
          %h3
            %pre
              :preserve
                USNO Circular 179
        %td
          %h5
            %a{:href => "http://aa.usno.navy.mil/publications/docs/Circular_179.php"} http://aa.usno.navy.mil/publications/docs/Circular_179.php
      %tr
        %td
          %h3
            %pre
              :preserve
                Astronomical Algorithms
                for C programmers.
        %td
          %h5
            %a{:href => "http://www.christophedavid.org/w/c/w.php/Trails/AstronomicalAlgorithms"} http://www.christophedavid.org/w/c/w.php/Trails/AstronomicalAlgorithms
      %tr
        %td
          %h3
            %pre
              :preserve
                Celestial navigation web pages
        %td
          %h5
            %a{:href => "http://www.celnav.de/page3.htm"} http://www.celnav.de/page3.htm
      %tr
        %td
          %h3
            %pre
              :preserve
                Astronomical Algorithms
                by Jean Meeus
        %td
          %h5
            %a{:href => "http://www.willbell.com/math/mc1.htm"} http://www.willbell.com/math/mc1.htm
      %tr
        %td
          %h3
            %pre
              :preserve
                AA+
        %td
          %h5
            %a{:href => "http://www.naughter.com/aa.html"} http://www.naughter.com/aa.html
      %tr
        %td
          %h3
            %pre
              :preserve
                Astronomical Algorithms
                done with Java Applets.
        %td
          %h5
            %a{:href => "http://www.jgiesen.de/elevaz/basics/meeus.htm"} http://www.jgiesen.de/elevaz/basics/meeus.htm
      %tr
        %td
          %h3
            %pre
              :preserve
                Ruby Sphere
        %td
          %h5
            %a{:href => "http://sourceforge.net/projects/ruby-sphere/"} http://sourceforge.net/projects/ruby-sphere/
