%title equationoftime.herokuapp.com/links.haml
:markdown
  Some links to get more information from
  
  These helped me learn more about the Equation of Time.
  
  Time calculator has Equation of Time. [http://www.celnav.de/longterm.htm](http://www.celnav.de/longterm.htm)

  BASIC language algorithms. [http://www.stargazing.net/kepler/sun.html](http://www.stargazing.net/kepler/sun.html)

  Analemma.com has free apps also. [http://www.analemma.com/](http://www.analemma.com/)      
    
  USNO Circular 179 [http://aa.usno.navy.mil/publications/docs/Circular_179.php](http://aa.usno.navy.mil/publications/docs/Circular_179.php)

  Astronomical Algorithms for C programmers. [http://www.christophedavid.org/w/c/w.php/Trails/AstronomicalAlgorithms](http://www.christophedavid.org/w/c/w.php/Trails/AstronomicalAlgorithms)

  Celestial navigation web pages [http://www.celnav.de/page3.htm](http://www.celnav.de/page3.htm)

  Astronomical Algorithms by Jean Meeus [http://www.willbell.com/math/mc1.htm](http://www.willbell.com/math/mc1.htm)

  AA+ [http://www.naughter.com/aa.html](http://www.naughter.com/aa.html)
     
  Astronomical Algorithms using Java Applets. [http://www.jgiesen.de/elevaz/basics/meeus.htm](http://www.jgiesen.de/elevaz/basics/meeus.htm)

  Ruby Sphere [http://sourceforge.net/projects/ruby-sphere/](http://sourceforge.net/projects/ruby-sphere/)

  Teo Shin Yeow disertation [http://www.math.nus.edu.sg/aslaksen/projects/tsy.pdf](http://www.math.nus.edu.sg/aslaksen/projects/tsy.pdf)

  Equation of time [https://en.wikipedia.org/wiki/Equation_of_time](https://en.wikipedia.org/wiki/Equation_of_time)

  Astronomy Notes [http://www.astronomynotes.com/nakedeye/s9.htm](http://www.astronomynotes.com/nakedeye/s9.htm)

  EQUATION OF TIME -- PROBLEM IN ASTRONOMY [http://www.ifpan.edu.pl/firststep/aw-works/fsII/mul/mueller.html](http://www.ifpan.edu.pl/firststep/aw-works/fsII/mul/mueller.html)

  The Equation of Time [http://aa.usno.navy.mil/faq/docs/eqtime.php](http://aa.usno.navy.mil/faq/docs/eqtime.php)

  How to compute planetary positions [http://stjarnhimlen.se/comp/ppcomp.html](http://stjarnhimlen.se/comp/ppcomp.html)

  And there are others that I probably forgot about.