<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>
   </title>
   <meta name="description" content="markdown pages array display" />
   <meta name="keywords" content="markdow, web, array, ruby" />
 </head>
 <body>
   <p>
   <h2>Ruby files for this app</h2>
   </p>
   <ul> 
   <% @md_arr.each do |page| %>
     <li>
       <a href="/mdview/<%= page%>"><%= formatter(page) %></a>
     </li>
   <% end %>
   </ul>
 </body>
</html>  
