%html
  %head
    %title mean anomaly sun
    %link{ :rel  => 'stylesheet',
           :type => 'text/css', 
           :href => '/stylesheets/eot.css' }
  %body
    %h1
      &Mu; or mu = Mean Anomaly of the Sun
    %h3
      %pre 
        :preserve
            The Mean Anomaly of the Sun is a fictitious value based on an assumption that the 
          Earth's orbit is circular rather than eliptical and that the Earth's velocity is 
          also constant. Mean Anomaly is used as a starting point to calculate the Eccentric
          and True Anomalies. The mean anomaly is used to calculate the Equation of Center
          which will be used to calculate True Anomaly and True Longitude. True Longitude 
          is then used to calculate Right Ascension. On the Main page you see mu and nu.
          But as you will see in the next page that the Equation of Center 
          is added to mu to get nu. We use Equation of Center again to calculate 
          True Longitude which is the same as lambda. Lambda is the True Longitude.

          See:  http://analemma.com/Graphics/eccentricity/CvE_Part1.mov if you have your quicktime
                or just open the source of the page and you can download it and run it.          
    
            These terms are calculated with the Universal Time Coordinate or GMT 
          of the current time.
          
          DateTime.now.to_time.utc.to_datetime = 
    %h5
      #{@current}    
    %h3
      %pre 
        :preserve
          The ta array = 
    %h5		
      #{@now}      
    %h3
      %pre 
        :preserve
          Note: This was replaced by @ma = Celes.falp03(@ta)
          The Ruby Eot#ma_Sun method:
          
          def ma_Sun( ta = A2000 )
            ta = check_jct_zero( ta )
            ade = delta_equinox( ta )[ 2 ] / ASD
            # setting an attribute now because we use it so much.
            @ma = mod_360 ade            
            # mod_360 delta_equinox( ta )[ 2 ] / ARCSEC      
          end
          
          Note: The actual algorithm is in nutation.rb which is only using ta[0]
                thanks to astro-algo gem. see /rghtascn page. Also Mean Anomaly 
                is sent back as the third argument of an array from delta_equinox( )
                method.

          mu or Mean Anomaly of Sun in decimal degrees =           
    %h5
      #{@ma}      
    %h3
      %pre 
        :preserve
          mu or Mean Anomaly of Sun in degrees:minutes:seconds =
    %h5
      #{@ma_string}
    %h3
      %a{:href => "/eqc"} Equation of Center
