%html
  %head
    %link{ :rel  => 'header', 
           :type => 'image', 
           :href => '/images/Equation_of_time.jpg' }  
  %body
    %img{ :src => '/images/Equation_of_time.jpg', :width => '512', :height => '384'}    
    %h2 
      Equation of Time :
      %br
      delta = mu - nu + lambda - alpha    
      %br
      &Delta; = ( &Mu; - &nu; ) + ( &lambda; - &alpha; )  The delta is difference in clock time.  
      %br
      &Mu; = Mean Solar Anomaly
      %br
      &nu; = True Solar Anomaly  
      %br
      &lambda; = Apparent Solar Longitude
      %br
      &alpha; = Apparent Solar Right Ascension     
    %h3
      %pre
        :preserve        
                    The "Equation of Time" is a formula to align solar time with clock time. (see red graph)
          
                So who would care if you don't use a sundial to find out the time?  When I first started to research 

                this a few years ago that was not my intent.  I wanted to know how to calculate sunrise and sunset. 

                My intent was to find or write a program that would do that because I got lazy about putting up
          
                and taking down the "Red, White, and Blue".  I could just keep it up if I displayed it with a light at night. 

                But then when to turn that light on and off?  I found a BASIC program written by a Canadian amateur

                radio operator.

                
                    It's kind of hard for me to get into it beacuse it's like what they call "spaghetti code" and I'm still 

                not that adept with BASIC.  I was able to modify it to use a serial port to switch the light on and off 

                using a relay.  But the program is still not that accurate and I had to figure out when to turn that PC 

                on and off or just leave it running. :D  Well this might be a nice idea for an embedded device that uses 

                less power but I don't want to deal with pattents and all so go ahead and please make one for us all.

                It might make a few bucks from the real patriotic malibu light lovers.  I eventually opted for a

                light sensor circuit.  Maybe I could ajust it to twilight for the computer.
          
    %h3
      %pre
        :preserve        
                    I found that the "Equation of Time" was needed to complete these calculations.
          
                It all made sense when I realized that almost equal amounts of daylight 
          
                from daybreak to noon and from noon to nightfall are used.  But when does 

                "Noon" for my location actually occur?  Keep this in mind as you read further.
    %h3
      %pre
        :preserve    
                     Looking at the graph you'll see three wave forms.  The two dashed

                 wave forms sum together to form the solid red wave form.  Notice that one occurs
           
                 at two cycles of change.  This is the Ecliptic cycle.  It's caused by the tilt 
          
                 of the Earth spinning on its' axis making the Sun appear higher and lower in
          
                 the sky at different seasons.  Notice that it crosses zero at four times
          
                 a year.  You may be familiar with these times.  They are the Equinoxes of Spring and
 
                 Fall and Solstices of Summer and Winter.  Check the data for it at links>/analemma
      %pre
        :preserve    
                     Again looking at the graph we see a one cycle wave form.  This is the Elliptic
          
                 cycle or sometimes called the orbital time change.  It's the Earth orbit around 
          
                 the Sun like all the other planets.  It shows how time is effected by the angle 
          
                 away from the Sun at different seasons due to an eliptical orbit. 
      %pre
        :preserve    
                     The Sun only crosses that imaginary Celestial Equator twice a year and is not a graph
         
                 of time but of solar altitude.  You could trace it from time laps photos creating what 
          
                 is known as an Analemma.  There's a link about it at links>http://www.analemma.com/.         
      %pre
        :preserve     
                     Your longitude is needed first to calculate what is termed "Mean local noon".
          
                 If you are west of the Greenwich Prime Meridian then your longitude has a 
          
                 minus sign.  If you are east of the Greenwich Prime Meridian then your 
          
                 longitude has a positive sign.( not needed though )   
      
            
                      Longitude can be converted to a time by just dividing it by 15.0.      
          
                 Your longitude converted to time will tell you your Mean local noon time.
                  
                 local_mean_noon = noon_utc - longitude / 15.0.
      
                 Example: You are at 75.324 degrees longitude west = - 75.324
      
                   local_mean_noon = 12.0 - (-75.342 / 15.0) (hours UTC)
                   local_mean_noon = 12.0 - (-5.0228) (hours UTC)
                   local_mean_noon = 12.0 + 5.0228 (hours UTC)
                   local_mean_noon = 17.0228 (hours UTC)
                   
                   https://gist.github.com/DouglasAllen/8c064b04f5e1efd10b1d#file-lng-to-time-rb
      %pre
        :preserve
                      UTC is the reference Time Zone throughout the world and so is often called
          
                  "zulu" time for the Zero time zone.      
      
                  The "Equation of Time" is then subtracted from your "Mean Noon Time".
     
                  This is what you may see at the top of the graph above but 
                  
                  pay careful attention to the sign.  People often cunfuse this.

                  And time is more often not used but the difference in angle is.      
      
                  Lets say that True - Mean = - 4 minutes and 40 seconds. ( -0.0777778 ) hr.
      
                  Example : local_mean_noon = 17.0228 (hours UTC)
          
                    local_noon = 17.0228 - ( -0.0777778 ) 
                    local_noon = 17.0228 + 0.0777778 
                    local_noon = 17.1005778 (hours UTC.)
      
          Note: This time is in decimal format.  You will have to convert it.
      %pre
        :preserve      
                      This will be the actual clock time of your "True Solar Transit Time".      
          
                  This time can then be converted to your time zone by adding your zone offset.
      
                  Example : - 5.0 if West or + 5.0 if East of the Prime Meridian by 5 time zones.      
      
            
                      Now we have a reasonable place to start if we wish to calculate the sunrise      
          
                  or sunset for your location.  It works for most locations except those at or 
          
                  past the arctic circles.  (+/- 90.0 degrees latitude).  Note: Of course you will want to
          
                  know your latitude as well when it comes to calculating rise and set times.

                  
                       I have included methods in this Ruby gem to do exactly that. See below:
                  
                  There are a couple of methods you can try out once you have the ajd set for the

                  date you require. Use eot.ajd = 'some ajd at noon time'

                  One method is eot.mean_local_noon_jd and will give you the mean clock time for

                  solar transit if you entered your longitude via eot.longitude = 'your longitude'

                  The other is eot.local_noon_dt which yields the true solar transit time for your

                  location. It subtracts the equation of time from your mean noon time.

                  One quick note on the graph. It shows that clock time is fast or slow and not

                  how much time to add or subtract.
      %pre
        :preserve      
                  Please note: 
                       The gem has undergone some major changes but is still usable here.
 
                       I'll just add notes on each page about them and leave much of the original
          
                       information in tact.  Thank you for your interest in this gem.
          
    %table
      %tr
        %td
          %h3
            %pre
              :preserve
                Explains about using Julian Numbers in Ruby 
        %td
          %h5
            %li
              %a{ :href => "date" } Julian Number                   
      %tr
        %td
          %h3
            %pre
              :preserve
                Use of time_julian_century( ) method
        %td
          %h5
            %li
              %a{ :href => "time" } Julian Century        
      %tr
        %td
          %h3
            %pre
              :preserve
                Use of mean_anomaly( ) method.
        %td
          %h5
            %li
              %a{ :href => "mean" } &Mu;ean anomaly                   
      %tr
        %td
          %h3
            %pre
              :preserve
                Use of true_anomaly( ) method.
        %td
          %h5
            %li
              %a{ :href => "eqc" } &nu;               
      %tr
        %td
          %h3
            %pre
              :preserve
                Use of true_longitude( ) method.
        %td
          %h5
            %li
              %a{ :href => "ecliplong" } &lambda;            
      %tr
        %td
          %h3
            %pre
              :preserve
                Use of right_ascension( ) method.  
        %td
          %h5
            %li
              %a{ :href => "rghtascn" } &alpha;
      %tr
        %td
          %h3
            %pre
              :preserve
                Equation of time live calculations using this gem.
        %td
          %h5 
            %li
              %a{ :href => "eot" } &Delta; Time today                  
      %tr
        %td
          %h3
            %pre
              :preserve
                Live calculations of sunrise and sunset times today. 
        %td        
          %h5
            %li
              %a{ :href => "mysuntimes" } Times                   
      %tr        
        %td
          %h3
            %pre
              :preserve
                Some links that I learned more about the Equation of Time with plus.
        %td
          %h5
            %li
              %a{ :href => "links" } Links 